@model IEnumerable<Warehouse>

<style>
    .card:hover {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        transform: translateY(-5px);
        transition: transform 0.2s, box-shadow 0.2s;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col text-center">
            <h4 class="py-3">Warehouses</h4>
            @if (User.IsInRole("admin"))
            {
                <div class="mb-3">
                    <a asp-action="Create" class="btn btn-primary">Add Warehouse</a>
                </div>
            }
            <div class="row mb-3">
                @foreach (var warehouse in Model)
                {
                    <div class="col-sm-6 col-md-4 mb-4">
                        <div class="card mb-4 box-shadow position-relative">
                            <div class="card-body">
                                <large class="fs-5">@warehouse.WarehouseName</large>
                                <a href="@Url.Action("Detail", "Warehouse", new { id = warehouse.Id })"
                                   class="stretched-link"></a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>